<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões necessárias para GPS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MainApplication"
        android:label="Kaviar Driver"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYpkhAAtpG5vdoBHlEYAUxJpMwyuhLVXo" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Kaviar Driver"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
